<div th:fragment="content(pageName)">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h1>個人資訊</h1>
                        <div>
                            <p style="display: inline-block;">電話</p>
                            <p style="display: inline-block;">0912-345-678</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>