<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlejenny.bakery.generator.mapper.BProductPageMapper">
    <select id="selectListBProductVOWithPage" resultType="com.littlejenny.bakery.vo.BProductVO">
        SELECT p.id, p.name, p.price, p.description, c.name as category_name,pg.url as image_url, c.id as category_id
        FROM bakery.product as p
                 LEFT JOIN bakery.product_gallery as pg
                           ON pg.product_id = p.id
                 LEFT JOIN bakery.category as c
                           ON c.id = p.category_id
    </select>
</mapper>
