<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlejenny.bakery.generator.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.littlejenny.bakery.generator.dto.OrderItem">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="BIGINT"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,product_id,count,price
    </sql>
    <select id="getByOrderId" resultType="com.littlejenny.bakery.generator.dto.OrderItem">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM `bakery`.`order_item`
        WHERE order_id=#{orderId}
    </select>
</mapper>
